<article class="post">
  <div class="title">
    <a href="{{content}}" target="_blank">{{title}}</a>
    <span>({{title}})</span>
  </div>
  <div class="meta">
    {{vote_count}} point(s) by {{user.firstname}} {{user.lastname}} on {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>