  <img src="/assets/images/logo6.png" height="150px" width="150px" alt="kit_logo">


{{!-- New post form --}}
{{!-- <a href="/">Add New Post</a> --}}

<form class="new-post-form">
    {{!-- <div >
        <label for="new-post-title">Title</label>
        <input type="text" id="new-post-title"/>
    </div>
     <div >
        <label for="new-post-content">content</label>
        <textarea type="text" id="new-post-content"></textarea>
    </div> --}}
    {{!-- <button type="submit">save</button> --}}

{{!-- End of new post form --}}

<container class="contentContainer">
  <container class="writePostContainer">
    <input type="text" id="new-post-title" placeholder="Title"/>
    <container class="postBtnContainer">
      <input class="input postInput is-small is-rounded" id="new-post-content" type="text" placeholder="What's happening?">
          <button class="button postButton is-rounded" type="submit">save</button>

      {{!-- <button class="button postButton is-rounded">New Post</button> --}}
    </container>
  </container>
</container>
</form>

<!-- ------------- POST TEXT STARTS HERE ------------- -->

<br><br>
<container class="contentContainer ">
  <div class="commentContent">
    <ul>
      {{#each posts as |post|}}

      <li>
        <container>
          <container class="writeCommentContainer">
            <h2 class="profileName">{{post.user.firstname}} {{post.user.lastname}}</h2>
            <p class="postTitle"> {{post.title}}</p>
            <h5>{{post.content}}</h5>
          </container>
            <container class="postBtnContainer">
              <input class="input commentInput is-small is-rounded" type="text" placeholder="Comment">
              <button class="button commentButton is-rounded">Post</button> 
              {{post.vote_count}} <button type="button" class="likeButton icon is-medium fa-solid fa-heart is-rounded"></button>
            </container>
            <button type="button" class="likeButton icon is-medium fa-solid fa-comments fa-comments is-rounded"></button><a href="/post/{{post.id}}">{{post.comments.length}} comments</a>
        </container>
      </li>
</container>
<br><br>
</li>
{{/each}}
</ul>


<script src="/javascript/new.js"></script>


{{!-- {{post.comments.length}} comment(s) {{post.created_at}}</a> --}}



